//Custom slick arrow color
.slick-arrow:before {
  color: #0063ff;
}

@media screen and (max-width: 430px) {
  .slick-prev {
    left: -28px;
    z-index: 999;
  }

  .slick-next {
    right: -10px;
    z-index: 999;
    font-size: 10px;
  }

  .slick-prev::before {
    font-size: 22px;
    padding-left: 3px;
  }

  .slick-next::before {
    font-size: 22px;
    padding-left: 3px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 320px) {
  .fontsize-electronics {
    font-size: 24px;
  }
  .fontsize-deal {
    font-size: 13px;
  }
}
