

.dealCard-border{
    border: 1px solid #F5F5FC;
border-radius: 20px 20px 0px 0px;
   
}

.polygonText{
   top: 18px;
   left: 6px;
}

.singleline-text{
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleline-text:hover{
  color:#0063FF;
  cursor: pointer;
}
