.subscribeBg {
  background: #0063ff;
  border-radius: 20px;
}

.inputBorder {
  border: 2px solid #f5f5fc;
  border-radius: 25px;
}

.subscribe-input {
  outline: none;
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 8px;
}

.subscribe-button {
  outline: none;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 8px;
}

.inputButton {
  margin-top: 25px;
}


//media queries for input and button.
@media screen and (min-width: 320px) and (max-width: 380px) {
  .subscribe-button {
    font-size: 13px;
  }

  .subscribe-input {
    font-size: 13px;
  }
}
