//Custom slick arrow color
.slick-arrow:before {
  color: #0063ff;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .slick-prev {
    left: -17px;
  }

  .slick-next {
    right: -17px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 320px) {
  .fontsize-electronics {
    font-size: 24px;
  }
  .fontsize-deal {
    font-size: 13px;
  }
}
