.profileHeading {
  border-bottom: 1px solid black;
}

.profileImage-div {
  position: relative;
  width: 100px;
  height: 100px;
}

.profileImage {
  border-radius: 78px;
}

.editIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  cursor: pointer;
}

.profile-input :focus {
  box-shadow: none;
  outline: none;
}

.profile-input {
  background: #f2f2f8 0% 0% no-repeat padding-box;
  border-radius: 27px;
  padding: 6px;
}

.profile-button {
  background-color: #0063ff;
  color: white;
  border-radius: 27px;
  padding: 6px;
}

.profile-button:hover {
  background-color: black;
  color: white;
}

.profile-button:active {
  background-color: #0063ff;
  color: white;
}

.manage-address {
  color: #0063ff;
  cursor: pointer;
}

.deleteAccount-button {
  cursor: pointer;
}

// Media queries

@media screen and (min-width: 320px) {
  .profile-row {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .profile-row {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .profile-row {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .profile-row {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .profile-row {
    width: 50%;
  }
}
