.homeHover {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 20px;
}

.kitchenHover{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 16px #00000029;
    border-radius: 20px;

}

.electronicsHover{
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 20px;

}

.toysHover{
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 20px;

}

.sportsHover{
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 20px;

}
.clearanceHover{
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  border-radius: 20px;

}

//Home & Kitchen category submenu on hovering.

.container {
  .categoryHome {
    .homeHover {
      display: none;
      width: 500px;
      top: 150px;
    }
    &:hover {
      .homeHover {
        display: block;
      }
    }
  }
}

.submenu-content {
  ul {
    li {
      list-style: none;
      
      padding: 4px;
    }
  }
}



.text-body:hover {
  background-color: lightgrey;
}


//Health & Beauty category submenu on hovering.
.container {
  .categoryKitchen {
    .kitchenHover {
      display: none;
      width: 500px;
      top: 150px;
    }
    &:hover {
      .kitchenHover {
        display: block;
      }
    }
  }
}

//Electronics category submenu on hovering.
.container {
  .categoryElectronics {
    .electronicsHover {
      display: none;
      width: 500px;
      top: 142px;
    }
    &:hover {
      .electronicsHover {
        display: block;
      }
    }
  }
}

//Toys category submenu on hovering.
.container {
  .categoryToys {
    .toysHover {
      display: none;
      width: 500px;
      top: 140px;
    }
    &:hover {
      .toysHover {
        display: block;
      }
    }
  }
}

//Toys category submenu on hovering.
.container {
  .categorySports {
    .sportsHover {
      display: none;
      width: 500px;
      top: 150px;
    }
    &:hover {
      .sportsHover {
        display: block;
      }
    }
  }
}

//Clearance category submenu on hovering.
.container {
  .categoryClearance {
    .clearanceHover {
      display: none;
      width: 500px;
      top: 142px;
    }
    &:hover {
      .clearanceHover {
        display: block;
      }
    }
  }
}




   