.wishlistProduct-col {
  position: relative;
}

.deleteWishlistProduct-logo {
  cursor: pointer;
  position: absolute;
  background-color: #f5f5f0;
  padding: 8px;
  top: 10px;
  right: 25px;
  border-radius: 50px;
}
