.imgBackground{
  background: #F5F5FC 0% 0% no-repeat padding-box;
  border-radius: 50%;
}

.discountBackGround{
  background: #0063FF ;
border-radius: 20px;
}



//MediaQueries
@media screen and (max-width: 500px) {
  .mobileView {
    width: 50%;
  }
}


//media queries for heading and view all deals for small screen device.
@media only screen and (max-width: 425px) and (min-width: 320px) {
  .fontsize-trending {
    font-size: 18px;
  }
  .fontsize-allDeals {
    font-size: 10px;
  }
}


//media queries to set trending section in xl-devices and lg-device screen.
@media only screen and (min-width:1200px){
    .trendingCard-width{
      width: 14.28%;
    }
}