.subscribeBg{
    background: #0063FF  0% 0% no-repeat padding-box;
    border-radius: 20px;
}


.inputBorder{
    border: 2px solid #F5F5FC;
    border-radius: 25px;
}

.subscribe-input{
    outline: none;
}

