.addNew-button {
  background: none;
}

.payment-border {
  // border: 2px solid grey;
  border-radius: 10px;
  margin-right: 55px;
  height: 200px;
}

.editAddress-button {
  border: none;
  background-color: white;
}

// Add delivery address arrow and input.
.select-input {
  outline: none;
  appearance: none;
  background-image: url("/Images/downArrow.png");
  border-radius: 20px;
  background-position: top right center;
}

.select-input:focus {
  box-shadow: none;
}
