// Different Icons css
.liveChat-icon {
  padding: 8px;
  border: 1px solid #e6e6f7;
  border-radius: 20px;
  width: 195px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #0063ff;
}

.liveChat-icon:hover {
  background-color: #89cff0;
  transition: 1s ease-in;
}

.cancelOrder-icon {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 165px;
  cursor: pointer;
  font-size: 15px;
}

.helpLogo-icon {
  border: 1px solid #0063ff;
  border-radius: 20px;
  width: 90px;
  padding: 8px;
  cursor: pointer;
}

.helpLogo-icon:hover {
  background-color: #89cff0;
  transition: 1s ease-in;
}

// hr-line css
.hr-line {
  color: grey;
}

// color of download invoice text
.invoice-color {
  color: #0063ff;
}

// product image and product image div.
.orderItem-div {
  height: 120px;
  width: 250px;
  cursor: pointer;
}

.orderDetail-description {
  cursor: pointer;
}

.orderItemImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// Order confirm icon css
.orderStatus-div {
  background-color: #11c252;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.textColor-confirmOrder {
  color: #11c252;
}

// CSS for 2nd to last order status icon.
.shippedOrder-div {
  background-color: #f5f5fc;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
}

// CSS for horizontal line
.orderStatusLine::before {
  content: "";
  height: 5px;
  top: 50%;
  z-index: -1;
  width: 940px;
  background-color: #f5f5fc;
  position: absolute;
}

// width of each order status icon
.order-width {
  width: 25%;
}

// Left border for download invoice section
.leftBorder {
  border-left: 1px solid #f5f5fc;
}

// Media queries

@media screen and (max-width: 1024px) {
  .orderStatusLine::before {
    width: 730px;
  }
  .orderItem-div {
    height: 125px;
    width: 325px;
  }

  .singlelineOrderDetail-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 768px) {
  .orderItem-div {
    height: 150px;
    width: 400px;
  }
  .orderStatusLine::before {
    width: 550px;
  }

  .singlelineOrderDetail-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 430px) and (max-width: 766px) {
  .orderItem-div {
    height: 150px;
    width: 490px;
  }
  .orderStatusLine::before {
    width: 300px;
  }

  .singlelineOrderDetail-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 426px) {
  .orderItem-div {
    height: 150px;
    width: 900px;
  }
  .orderStatusLine::before {
    width: 250px;
  }

  .singlelineOrderDetail-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
