
.cardBackground {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #f2f2f8;
  border-radius: 20px;
}

.custom-button {
  background: #0063ff 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: none;

  &:active,
  &:hover {
    background: black 0% 0% no-repeat padding-box;
    border-radius: 25px;
    outline: none;
  }
}

.custom-button:active {
  --bs-btn-active-bg: #0063ff;
}

.custom-input {
  outline: none;
  border-radius: 10px;
  text-align: center;
  border: 1px solid grey;
}

.counter-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
}

.counter-button:hover {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 0;
}
