.custom-searchbar:focus {
  box-shadow: none;
}

.main-header {
  Button {
    background-color: #0063ff;
    border: 1px solid #0063ff;
    &:hover {
      border: 1px solid #0063ff;
      background-color: #0063ff;
    }

    &:active {
      border: 1px solid #0063ff;
      background-color: #0063ff;
    }
  }

  .inputGroup {
    border: 2px solid #f5f5fc;
  }
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #0063ff;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}

.loginMenu {
  position: relative;
}

//Initially hide dropdown list
.dropDownMenu {
  display: none;
  z-index: 1;
}

//displaying dropdown list
.loginMenu:hover .dropDownMenu {
  display: block;
  position: absolute;
  top: 48px;
  right: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  // padding: 10px;
  border-radius: 15px;
}

.dropDownMenu li {
  width: 220px;
  text-align: center;
  border-bottom: 1px solid beige;
  padding: 5px;
}

.dropDownMenu li:last-child {
  border-bottom: none;
}

.dropDownMenu li a {
  color: black;
  text-decoration: none;
}

// displaying button and li > a in style.
.dropDownMenu li:hover {
  background-color: black;
  transition: 0.3s all;
}

.dropDownMenu li:hover a {
  color: white;
}

.dropDownMenu Button:hover {
  background-color: black;
  transition: 0.3s all;
  color: white;
}

.dropDownMenu > li:hover ul {
  pointer-events: all;
}

//Login/Register Menu on hovering for small size devices .
.secondLoginMenu {
  position: relative;
}

//Initially hide dropdown list
.secondDropdownMenu {
  display: none;
  z-index: 4;
}

// //displaying dropdown list
.secondLoginMenu:hover .secondDropdownMenu {
  display: block;
  position: absolute;
  top: 48px;
  right: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  padding: 10px;
  border-radius: 15px;
}

//Styling hamburger menu.
.hamburgerMenu li {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 6px;
  padding: 5px;
}

.hamburgerMenu li a {
  color: black;
  text-decoration: none;
}

.hamburgerMenu ul li a {
  text-decoration: none;
  color: black;
}

.hamburgerMenu ul li {
  // border-bottom: 1px solid grey;
  text-align: center;
}

.hamburgerMenu li:hover {
  background-color: black;
  transition: 0.3s all;
}

.hamburgerMenu li:hover a {
  color: white;
}

.hamburgerMenu Button:hover {
  background-color: black;
  transition: 0.3s all;
  color: white;
}

.hamburgerMenu > li:hover ul {
  pointer-events: all;
}

//Button
.hamburger-loginButton {
  background-color: #0063ff;
  width: 200px;
  text-align: center;
}

.login-button {
  margin-bottom: 6px;
  margin-top: 10px;
}

.logout-button {
  margin-bottom: 6px;
  margin-top: 10px;
}
