.main-header {
  Button {
    background-color: #ff7900;
    border: 1px solid #ff7900;
    &:hover {
      border: 1px solid #ff7900;
      background-color: #ff7900;
    }

    &:active {
      border: 1px solid #ff7900;
      background-color: #ff7900;
    }
  }

  .inputGroup {
    border: 2px solid #f5f5fc;
  }
}

.circle {
  width: 22px;
  height: 22px;
  background-color: #ff7900;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}

.loginMenu {
  position: relative;
}

//Initially hide dropdown list
.dropDownMenu {
  display: none;
}

//displaying dropdown list 
.loginMenu:hover .dropDownMenu {
  display: block;
  position: absolute;
  top: 48px;
  right: 15px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000029;
  padding: 10px;
}

.dropDownMenu li {
  width: 220px;
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
  border-bottom: 1px solid beige;
}

.dropDownMenu li a {
  color: black;
  text-decoration: none;
}


//displaying button and li>a in style.
.dropDownMenu li:hover {
  background-color: black;
  transition: 0.3s all;
}

.dropDownMenu li:hover a {
  color: white;
}

.dropDownMenu Button:hover {
  background-color: black;
  transition: 0.3s all;
  color: white;
}

.dropDownMenu > li:hover ul {
  pointer-events: all;
}
