.cartBackground {
  background: #0063FF  0% 0% no-repeat padding-box;
  border-radius: 25px;
  
}

.buyBackground {
  background: #0063FF  0% 0% no-repeat padding-box;
  border: 1px solid #0063FF ;
  border-radius: 25px;
 
}
