.cartBackground {
  background: #ff7900 0% 0% no-repeat padding-box;
  border-radius: 25px;
  
}

.buyBackground {
  background: #ff79001a 0% 0% no-repeat padding-box;
  border: 1px solid #ff7900;
  border-radius: 25px;
 
}
