.rating-div {
  cursor: pointer;
}

.rating-div:hover {
  color: #0063ff;
  transition: 0.5s ease-in;
}

.ratingImage-div {
  width: 100px;
  height: 100px;
}

.ratingImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.custom-modal-header {
  border-bottom: 0px;
}

.custom-modal-width .modal-content {
  width: 125%;
  border-radius: 25px;
}

.singlelineText-ratingPopup {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-input {
  background: #f5f5fc 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 26px #0b5ed70d;
  border-radius: 20px;
  outline: none;
  padding: 8px;
  width: 100%;
}

.rating-input:focus {
  box-shadow: none;
  outline: none;
}

.ratingDescription-input {
  background: #f5f5fc 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 26px #0b5ed70d;
  border-radius: 15px;
  outline: none;
  padding: 8px;
  width: 100%;
}

.ratingDescription-input:focus {
  box-shadow: none;
  outline: none;
}

.uploadImage-div {
  height: 105px;
  width: 105px;
  background-color: #f5f5fc;
  border-radius: 10px;
  padding: 30px;
}

.uploadImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rating-button {
  background-color: #0063ff;
  color: white;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
}

.rating-button:hover {
  background-color: black;
  color: white;
  transition: 1s ease-in;
}

.ratingForm-div {
  padding: 30px;
}

.displayErrorMessage {
  color: red;
}

.ratingStar-image {
  cursor: pointer;
}

.userReviewAvatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.userReviewAvatar-div {
  height: 75px;
  width: 100px;
}
