.boxColor {
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 8px;
}

// .sizeBackground {
//   background: #ffffff 0% 0% no-repeat padding-box;
//   border: 2px solid #f2f2f8;
//   border-radius: 25px;
// }

.sizeGuideBackground {
  background: #f2f2f8 0% 0% no-repeat padding-box;
  border-radius: 16px;
  width: 129px;
  height: 28px;
}

.inputBorder {
  border: 2px solid #f5f5fc;
  border-radius: 56px;
}
