//sortBy filter border and background

.filter-border {
  border: 2px solid var(--unnamed-color-f5f5fc);
  border: 3px solid #f5f5fc;
}

.custom-select {
  input {
    outline: none;
  }
}

.polygonText {
  top: 18px;
  left: 6px;
}

//Custom CSS for select tag for filtering...
.custom-select {
  outline: none;
  appearance: none;
  background-image: url("/Images/downArrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.offcanvas-style {
  background-color: whitesmoke;
}

.noData-div {
  height: 400px;
}

.category-Name {
  color: #0063ff;
}
