.popup-input {
  background: #F2F2F8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 26px #0B5ED70D;
  border-radius: 20px;
  outline: none;
}

.popup-input:focus {
  box-shadow: none;
  outline: none;
}

.continue-button{
  box-shadow: 0px 3px 26px #0B5ED70D;
  border-radius: 20px;
  outline: none;
}

.login-logos{
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #D8D8D8;
border-radius: 27px;
width: 200px;
}

.verificationCode-background{
  background: #F2F2F8 0% 0% no-repeat padding-box;
border-radius: 15px;
outline: none;
border: 0;
}

.verificationCode-background:focus{
 box-shadow: none;
 background: #F2F2F8 0% 0% no-repeat padding-box;
 border-radius: 15px;
 outline: none;
 border: 0;
}

.resendCode-button{
  outline: none;
  background: none;
  border: 0;
}

.resendCode-button:hover{
  outline: none;
  background: white;
  border: 0;
}